#top-navbar {
	margin-bottom: 0;
}

.navbar .language-selector {
	margin-top: 8px;
	height: 24px;
}

.subhead {
	background-color: #F9F9F9;
	padding: 25px 20px;
	text-align: center;
}

.subhead a, .subhead a:hover {
	color: #c4161c;
	text-decoration: none;
}

#title {
	font-size: 22px;
	padding-top: 15px;
}

#alert-list {
	margin-bottom: 0;
}

.sub-nav-list {
	padding-right: 0;
}

.required {
	color: #FF0000;
	padding-left: 2px;
}

.align-center,
.table .align-center {
	text-align: center;
}

.no-top-radius {
	-webkit-border-top-left-radius: 0;
			border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-right-radius: 0;
			border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
}

.no-bottom-radius {
	-webkit-border-bottom-left-radius: 0;
			border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-right-radius: 0;
			border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
}

.no-top-radius caption + thead tr:first-child th:first-child,
.no-top-radius caption + tbody tr:first-child td:first-child,
.no-top-radius colgroup + thead tr:first-child th:first-child,
.no-top-radius colgroup + tbody tr:first-child td:first-child,
.no-top-radius tbody:first-child tr:first-child td:first-child {
	-webkit-border-top-left-radius: 0;
			border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
}

.no-top-radius caption + thead tr:first-child th:last-child,
.no-top-radius caption + tbody tr:first-child td:last-child,
.no-top-radius colgroup + thead tr:first-child th:last-child,
.no-top-radius colgroup + tbody tr:first-child td:last-child,
.no-top-radius tbody:first-child tr:first-child td:last-child {
	-webkit-border-top-right-radius: 0;
			border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
}

.no-body-bottom-radius tbody:last-child tr:last-child td:first-child {
	-webkit-border-bottom-left-radius: 0;
			border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
}

.no-body-bottom-radius tbody:last-child tr:last-child td:last-child {
	-webkit-border-bottom-right-radius: 0;
			border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
}

.table-header {
	margin-bottom: -1px;
	font-size: 16px;
}

.data-main-title {
	font-size: 16px;
}

.rich-datascr-button {
	border: 0;
}

.rich-table-footercell {
	-webkit-border-bottom-left-radius: 4px;
			border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
}

.rich-datascr-act {
	background-color: #f5f5f5;
}

.table .rich-datascr-act, .table .rich-datascr-inact {
	text-align: center;
}

.output-text {
	padding-top: 5px;
}

textarea {
	width: 70%;
}

textarea.fullsize {
	width: 95%;
}

select[size="1"] {
	height: 30px;
}

.form-actions input {
	margin-left: 5px;
}

.form-actions input:first-child {
	margin-left: 0;
}

.report-expense {
	border-collapse: separate;
	border: 1px solid #11833A;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.report-expense td:first-child {
	width: 190px;
}

.table thead tr.success th {
  background-color: #dff0d8;
}

.form-horizontal .control-label {
	font-weight: 200;
	padding-top: 4px;
}

.rich-calendar-exterior {
	background-color: #fff;
}

.rich-calendar-cell {
	border: 0;
}

.centered-pills {
	text-align: center;
	height: 73px;
}

.centered-pills ul.nav-pills {
	display: inline-block;
}

.centered-pills li {
	display: inline;
}

.centered-pills a {
	float: left;
}

.rich-stglpanel {
	border-style: none;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.filter-header {
	font-size: 16px;
}

.filter-body {
	border-top-style: none;
}

.total {
	background-color: #fcf8e3;
}

.grand-total {
	background-color: #dff0d8;
}

.employee-column {
	width: 150px;
}

.table .period-column {
	background-color: #d9edf7;
	text-align: center;
}

#reportingTable.table-hover tbody tr:hover td {
  background-color: #f2dede;
}